.Panel {
  display: flex;
  flex-direction: column;
  animation: aparece-panel .25s ease-in-out both;
  padding-top: 1.5rem;
  align-items: center;
  max-width: 50rem;
  margin: 0 auto;
  padding-bottom: 4rem;
  --ancho-hexagono: 2.5rem;
  --ancho-indicador-global: 10rem;
  --ancho-indicadores-locales: calc(var(--ancho-hexagono) * 4);
}

.Panel__encabezados {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  font-size: 1.25rem;
  padding: .5rem 0 .5rem 0;
}

.Panel__encabezado_resultados {
  width: calc(var(--ancho-indicador-global) + var(--ancho-indicadores-locales));
  text-align: center;
}

.Panel__contenedor_indicador {
  margin: .5rem 2rem;
  border-radius: .25rem;
  display: flex;
  padding: 0 1.5rem;
  height: 6rem;
  border: .05rem solid rgba(0, 0, 0, .15);
  width: 100%;
  box-shadow: 0 .1rem .25rem rgba(0, 0, 0, .2);
}

.Panel__nombre_indicador {
  flex: 1;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  line-height: 1.5;
}

.Panel__indicador_global {
  width: var(--ancho-indicador-global);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Panel__hexagono {
  background-color: #0093D5;
  height: 4rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
  color: white;
  font-weight: 500;
  font-size: .8rem;
  cursor: pointer;
  transition: all .25s ease;
}

.Panel__indicadores_divisiones {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--ancho-indicadores-locales));
}

.Panel__indicadores_contenedor_hexagonos {
  display: flex;
  flex-wrap: wrap;
}

.Panel__hexagono_pequeño {
  width: var(--ancho-hexagono);
  height: 1.5rem;
  background-color: #0093D5;
  clip-path: polygon(10% 25%, 50% 0%, 90% 25%, 90% 75%, 50% 100%, 10% 75%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .5rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all .25s ease;
  text-shadow: 0 .1rem .05rem rgba(0, 0, 0, .15);
}

.Panel__hexagono_pequeño:hover,
.Panel__hexagono:hover {
  filter: brightness(110%);
}

.Panel__hexagono_pequeño--relleno {
  opacity: 0;
  width: calc(var(--ancho-hexagono) / 2);
}

@keyframes aparece-panel {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}