.Panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: aparece-panel .25s ease-in-out both;
  --ancho-hexagono: 2.5rem;
  --ancho-indicador-global: 10rem;
  --ancho-indicadores-locales: calc(var(--ancho-hexagono) * 5);
  position: relative;
}

.Panel__contenedor {
  padding-top: 1.5rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  position: relative;
}

.Panel__panel:first-child {
  margin-right: 1rem;
}

.Panel__panel:last-child {
  margin-left: 1rem;
}

.Panel__superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  position: sticky;
  top: 3rem;
  background-color: white;
  z-index: 2;
}

.Panel__contenedor_paneles {
  display: flex;
}

.Panel__titulo {
  font-size: 1.5rem;
  font-weight: 500;
}

.Panel__encabezados {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  font-size: 1.15rem;
  padding: .5rem 0 .5rem 0;
  margin-bottom: .5rem;
}

.Panel__encabezado_resultados {
  width: calc(var(--ancho-indicador-global) + var(--ancho-indicadores-locales));
  text-align: center;
}

@keyframes aparece-panel {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (orientation: portrait), (max-height: 600px) {
  .Panel__contenedor_paneles {
    flex-direction: column;
    padding: 1rem;
  }

  .Panel__contenedor {
    padding: 0;
  }

  .Panel__superior {
    flex-direction: column;
    padding: 1rem 0;
  }

  .Panel__panel:first-child {
    margin-right: 0;
  }
  
  .Panel__panel:last-child {
    margin-left: 0;
  }
}