.SelectorSemana {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 2rem;
}

.SelectorSemana__semana_seleccionada {
  font-size: .8rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20ch;
}

.SelectorSemana__fechas_semana {
  font-size: .6rem;
  text-align: center;
  padding-top: .15rem;
  line-height: 1.15;
  padding-left: 1rem;
  padding-right: 1rem;
}

.SelectorSemana__selector {
  flex: 1;
  cursor: pointer;
}

.SelectorSemana__contenedor_semana {
  display: flex;
  padding-left: 1rem;
  align-items: center;
}

.SelectorSemana__boton {
  background-color: #0093D5;
  color: white;
  border-radius: 100%;
  outline: none;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (orientation: portrait), (max-height: 600px) {
  .SelectorSemana {
    padding: 0;
  }
  .SelectorSemana__selector {
    display: none;
  }
}