.SelectorSemana {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 2rem;
}

.SelectorSemana__semana_seleccionada {
  font-size: .85rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15ch;
}

.SelectorSemana__fechas_semana {
  font-size: .6rem;
  text-align: center;
  padding-top: .15rem;
  line-height: 1.15;
}

.SelectorSemana__selector {
  flex: 1;
  cursor: pointer;
}