.VisionGeneral {
  position: absolute;
  z-index: 3;
  left: 1rem;
  top: .5rem;
  background-color: rgba(255, 255, 255, .9);
  padding: 1rem;
  height: calc(100vh - 4rem);
  border-radius: .25rem;
  animation: aparece-vision-general .25s .25s ease-in-out both;
  width: 20vw;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, .05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.VisionGeneral__contenedor_superior {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.VisionGeneral__nuevos_casos {
  font-weight: bold;
  text-align: right;
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

.VisionGeneral__intervalo {
  font-size: .7rem;
  text-align: right;
  margin-top: .25rem;
  line-height: 1.25;
  font-weight: 500;
}

.VisionGeneral__label_selector_division {
  font-size: .8rem;
  padding-bottom: .25rem;
  display: block;
}

.VisionGeneral__selector_division {
  font-weight: bold;
  font-size: 1.1rem;
}

.VisionGeneral__total_casos {
  font-weight: bold;
  font-size: 1.25rem;
  width: 10rem;
  align-self: flex-end;
  text-align: right;
}

.VisionGeneral__fecha_actualizacion {
  font-size: .7rem;
  text-align: center;
  line-height: 1.25;
}

@keyframes aparece-vision-general {
  0% {
    opacity: 0;
    transform: translateY(-.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}