.Grafico {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.Grafico__contenedor_grafico {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.Grafico__grafico {
  height: 40vh;
  flex: 1;
  padding-right: 1.5rem;
}

.Grafico__total_acumulado {
  font-size: 4rem;
  padding: .5rem 0;
  text-align: center;
}

.Grafico__superior {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem;
  padding-bottom: .5rem;
  align-items: center;
  border-bottom: 1px solid #0093D5;
  margin-bottom: .5rem;
}

.Grafico__descripcion {
  padding-left: 1.5rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  text-align: center;
}

.Grafico__titulo {
  font-weight: bold;
  font-size: 1.25rem;
}

.Grafico__subtitulo {
  font-size: .8rem;
  margin-top: .25rem;
}

.Grafico__selector_acumulados {
  background-color: white;
  border: 1px solid #0070A3;
  font-size: .7rem;
  padding: .75rem .75rem;
  cursor: pointer;
  transition: all .25s ease-in-out;
  outline: none;
  color: #0070A3;
}

.Grafico__selector_acumulados--izquierda {
  border-radius: .25rem 0 0 .25rem;
}

.Grafico__selector_acumulados--derecha {
  border-radius: 0 .25rem .25rem 0;
}

.Grafico__selector_acumulados--activo {
  background-color: #0093D5;
  color: white;
}

@keyframes aparecen-graficos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media(orientation: portrait) {

  .Grafico__contenedor_grafico {
    flex-direction: column;
    margin: 0;
  }

  .Grafico__grafico {
    padding-right: 0;
  }

}